* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    text-decoration: none; 
    background-color: #c29dc2; 
    box-sizing: border-box;
}

:root {
    --lilac: #C29DC2; 
    --peach: #ffc182; 
}


/* navbar/header */

/*navbar flex container*/
.navbar {
    display: flex; 
    flex-flow: column wrap;   
    width: 100%;
    font-size: 16px; 
    background-color: var(--lilac); 
}

/* navbar flex items */ 
.navbar-links {
    flex: 100%; 
    padding: 25px 0 0 5px; 
    border-bottom:var(--peach) dotted 1px; 
    color: var(--peach); 
    text-align: center;
}

/* hero - placeholder for now*/
.hero {
    height: 250px; 
    background-color: white;
}

/* content */ 

/* my work - clickable images that open a url in a new tab*/

/* my work grid container */
.my-work-container {
    display: grid; 
    grid-auto-flow: dense;
    grid-template-columns: repeat (10, 1fr);
    grid-template-rows: repeat (10, 1fr);
    background-color: var(--peach);
    grid-gap: 5px;
}
/* my work grid items */ 
.grid-item {
    display: flex; 
    background-color: var(--peach);
}
.item-1{
    grid-column: 2 / span 5;
}
.item-1 h2 {
    color: var(--lilac);
    background-color: var(--peach);
    font-size: 35px;  
    letter-spacing: 27px; 
}
.item-2 {
    grid-column: 4/ span 4; 
    grid-row: 2 / span 2; 
}
.item-2 img {
    max-width: 100%; 
    max-height: 100%; 
}
.item-3 {
    grid-column: 1/ span 3;
    grid-row: 5/ span 2; 
}

.item-3 img {
    max-width: 100%; 
    max-height: 100%; 
}


/* about me and profile pic */

.about-me-container {
    display: flex;
    flex-flow: row nowrap;
    height: 400px; 
    background-color: #c29dc2;
}

.about-me-container h2 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 20px; 
    letter-spacing: 24px; 
    height: 400px; 
    color:#FFC182; 
    letter-spacing: 24px; 
    border: #ffc182 dotted; 
}

.image img {
    width: auto; 
    height:400px;
    opacity: .8; 
}
.text-image {
    position: absolute; 
    color: white; 
    font-size: 30px; 
    bottom: -420px;
    background: none; 
}
.image img:hover {
    opacity: 1;
}

/* contact me section */
.contact-me-container {
    display: flex; /* makes a flex container*/
    flex-flow: column wrap; /*flex items side by side*/
    height: 600px;  
    background-color: #ffc182;
}

.contact-section { /*flex item*/
    background-color: #c29dc2; 
    flex: 75%; 
}

.contact-section h2 {
    color: #ffc182; 
    font-size: 25px; 
    background-color:#c29dc2; 
    writing-mode: vertical-lr;
    text-orientation: upright;    
    letter-spacing: 27px; 
    border: #ffc182 dotted; 
    float: left; 
}

.contact-form {
    border:#ffc182 dotted; 
    margin-top: 200px; 
    width: 200px; 
    float: left;
}
.contact-form label {
    font-size: 16px;
    color:#ffc182;
    width: 25%; 
    box-sizing: border-box;
}
.contact-form input, textarea {
    margin: 5px; 
    border: #ffc182 dotted; 
}
.contact-form ::placeholder {
    font-size: 12px;
    color: white;
}
.contact-form input[type=submit] {
    color: #C29DC2;
    background-color:#ffc182;
    border:none; ; 
}

.links-section {
    flex:25%;  
    background-color: #ffc182; 
    display: inline-block; 
}

.links-section h2 {
    color: #c29dc2; 
    font-size: 20px; 
    background-color: #ffc182; 
    letter-spacing:7px;
    border: #c29dc2 dotted;   
}

.links-section a {
    padding: 25px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 1px 2px;
    background: none; 
    color: #c29dc2; 
    opacity: .7; 
  }

.links-section a:hover {
    opacity: 1; 
}

/* footer section */

.footer {
    display: flex; 
    flex-flow: row nowrap;  
    height:75px; 
    background-color:#ffc182;
    align-content: flex-end;
}

.footer p {
    text-align:center;
    font-size: 20px; 
    color: #c29dc2;
    background-color: #ffc182; 
    border-top: #c29dc2 dotted; 
    padding-top: 12px; 
}

@media screen and (min-width: 600px) {
    .navbar {
          flex-flow: row nowrap; 
          height: 200px; 
          width: 100%;
          font-size: 50px;  
          padding: 25px; 
          margin: 10px; 
     }
     .navbar-links {
        align-self: center;
        padding-left: 55px;
        border:var(--peach) dotted; 
     }
     .navbar header a:hover {
        color: var(--lilac); 
        background-color: var(--lilac); 
    }
  }